services:
  web:
    build: .
    container_name: urlshortener-web
    command: gunicorn urlshortener.wsgi:application --bind 0.0.0.0:8080
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    restart: always
    volumes:
      - .:/app
      - static_volume:/app/staticfiles

  db:
    image: postgres:15
    container_name: urlshortener-db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: urlshortener-redis
    restart: always
    ports:
      - "6379:6379"
  
  pgadmin:
    image: dpage/pgadmin4
    container_name: urlshortener-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    restart: always

volumes:
  pgdata:
  static_volume:
